.html, body{
  margin: 0px;
  background-color: #E0E4DE;
}
.bg{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-image: none;
  background-color: #E0E4DE;
}
.logoDiv{
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
.logo{
  width: 8em;
  height: auto;
}
.company{
  font-family: 'outfit', sans-serif; 
  font-size: 20pt;
  max-width: 200px;
  text-align: center;
  margin: 0px;
  margin-top: -10px;
  letter-spacing: 3px;
  line-height: 36px;
}
.sloganDiv{
  margin: 4em;
}
.slogan{
  font-family: 'outfit', sans-serif;
  font-size: 28pt;
  width: 300px;
  text-align: center;
  margin: 0px;
}
.longButtonDiv{
  display: flex;
  flex-direction: column;
  margin: 4em;
}
.longButton{
  background-color: #DA674A;
  font-family: 'outfit', sans-serif; 
  font-size: 20px; 
  letter-spacing: 1.5px; 
  padding: 3px 24px; 
  border-radius: 8px; 
  border-width: 1px; 
  border-color: transparent;
  cursor: pointer;
  color: #E5E4DE; 
  margin: 0 0.5vw;
  width: auto;
  height: fit-content; 
  align-self: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.longButton:disabled {
  pointer-events: none;
}

.longButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.longButton:active {
  box-shadow: none;
  transform: translateY(0);
}
.alow{
  width: 30px; 
  height: auto;
  margin-left: 7em;
  margin-top: -0.6em;
}
.hint{
  font-family: 'outfit', sans-serif; 
  font-size: 20px; 
  color: #2B4D59; 
  letter-spacing: 1.5px; 
  transform: rotate(15deg); 
  width: auto; 
  height: 60px;
  margin-left: 7em;
  margin-top: 0.1em;
}
.feedDiv{
  display: flex; 
  flex-direction: column; 
  width: 6.25em;  
  align-items: center;
  position: absolute;
  bottom: 4vh;
}
@media screen and (max-height: 972px) {
  .feedDiv {
    position: relative;
  }
}

.feedQR{
  width: 5em; 
  height: auto;
  margin: 0.1em;
}
.feedP{
  font-family: 'outfit', sans-serif; 
  font-size: 18px; 
  letter-spacing: 0.1em; 
  text-align: center; 
  margin: 0.1em;
}
.fg{
  display: none;
  flex-direction: column;
}
.fgHead{
  display: flex;
  flex-direction: row;
  margin: 0em 1em;
}
.closeBtn{
  font-family: 'outfit', sans-serif;
  font-weight: 200;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 4em;
  padding: 0px;
  transition: all 150ms;
  &:hover,
  &:focus {
    transform: translateY(-2px);
  }
}

.KPTee{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clinicPic{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 2vh 0vw 0 0;
  padding-bottom: 3vh;
  padding-right: 0;
  width: 90%;
  border-bottom: 1px solid black; 
  border-left: none; 
  border-top: none; 
  border-right: none;
}

.clinicPicA{
  margin: 0px;
  width: 100%;
  border-radius: 1em;
}
.icons{
  margin-top: -7em;
  padding-top: 3em;
  display: flex;
  width: 100%;
  justify-content: right;
  background-image: linear-gradient( rgba(0,0,0,0),  rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  border-radius: 1em;
}
.i{
  height: 40px;
  width: auto;
  margin: 10px;
}

.servicesDIV{
  flex: 1; 
  background-color: transparent; 
  display: flex; 
  align-items: left; 
  flex-direction: column;
  padding-left: 4vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}
.servicesH1{
  font-family: 'outfit', sans-serif; 
  font-size: 24pt;
  font-weight: bold;
  margin: 1em;
}
.servicesHP{
  font-family: 'outfit', sans-serif; 
  font-size: 12pt; 
  margin-top: -30px;
  font-weight: bold;
}
.servicesul{
  font-family: 'outfit', sans-serif; 
  font-size: 16pt; 
  line-height: 1em; 
  padding-left: 0px;
  margin: 0px;      
}

.KPTeecare {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (min-aspect-ratio: 1/1) {
  .html, .body {
    background-color: none;
  }
  .bg{
    height: 100vh; 
    background-image: url(Assets/Main.png);
    background-repeat: no-repeat; 
    background-size: 160vw 120vh;
    background-position: -30vw 0vh; 
  }
  @media (min-aspect-ratio: 1.1/1) {
    .bg{ 
      background-size: 152vw 120vh; 
      background-position: -26vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.2/1) {
    .bg{ 
      background-size: 144vw 120vh; 
      background-position: -22vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.3/1) {
    .bg{ 
      background-size: 136vw 120vh; 
      background-position: -18vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.4/1) {
    .bg{ 
      background-size: 128vw 120vh; 
      background-position: -14vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.5/1) {
    .bg{ 
      background-size: 120vw 120vh; 
      background-position: -10vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.6/1) {
    .bg{ 
      background-size: 112vw 120vh; 
      background-position: -6vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.7/1) {
    .bg{ 
      background-size: 104vw 120vh; 
      background-position: -2vw 0vh; 
    }
  }
  @media (min-aspect-ratio: 1.78/1) {
    .bg{ 
      background-size: 100vw 120vh; 
      background-position: 0vw 0vh; 
    }
  }

  .logoDiv{
    position: absolute;
    left: 0.5em;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 400px;
    margin: 0;
  }
  .logo{
    margin: 0.5em; 
    width: 40px; 
    height: auto;
  }
  .company{
    font-family: 'outfit', sans-serif; 
    font-size: 20px;
    letter-spacing: 2.5px;
    padding-top: 3px;
  }
  .sloganDiv{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .slogan{
    font-family: 'outfit', sans-serif; 
    font-size: 32pt; 
    width: 42%;
    text-align: left;
  }
  .longButtonDiv{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    margin: 0.5em;
  }
  .feedDiv{
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
  .KPTee, .KPTeecare{
    flex-direction: row;
    vertical-align: middle;
    width: 100vw;
  }
  .clinicPic{
    flex: 2;
    padding: 6%;
    height: 60vh; 
    width: 85%;
    border-right: 1px solid black; 
    border-left: none; 
    border-top: none; 
    border-bottom: none;
  }
  .servicesDIV{
    text-align: left; 
  }
  .servicesH1{
    text-align: left;
    margin-left: 0px;
  }
}