.carolCt {
  /* ... */
  
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.carolCt::-webkit-scrollbar {
  display: none;
}
.servicesDIV{
  background-color: transparent; 
  display: flex; 
  align-items: left; 
  flex-direction: column;
  text-align: center;
}
.servicesH1{
  font-family: 'outfit', sans-serif; 
  font-size: 48pt;
  font-weight: bold;
  margin: 0.6em;
}
.servicesHP{
  font-family: 'outfit', sans-serif; 
  font-size: 24pt; 
  margin-top: -30px;
  font-weight: bold;
}
.servicesul{
  font-family: 'outfit', sans-serif; 
  font-size: 24pt; 
  line-height: 1em; 
  padding-left: 0px;
  margin: 0px;      
}

@media (min-aspect-ratio: 1/1) {
  .servicesDIV{
    text-align: left; 
  }
  .servicesH1{
    text-align: left;
    font-size: 24pt;
    margin: 1em;
    margin-left: 0px;
  }
  .servicesHP{
    font-size: 12pt; 
    margin-top: -30px;
  }
  .servicesul{
    font-size: 16pt; 
    line-height: 1em;       
  }
}