.KPTfg {
  flex-direction: column;
  height: 97vh;
}
.KPTCfg {
  flex-direction: column;
  height: 97vh;
}
.KPh1{
  font-family: 'outfit', sans-serif; 
  font-size: 7.5vw;
  font-weight: 500; 
  letter-spacing: 0em; 
  text-align: center; 
  margin: 6%;
  margin-bottom: 0;
}
.KPh2{
  font-family: 'outfit', sans-serif; 
  font-size: 4.5vw;
  font-weight: bold; 
  color: #DA674A;
  letter-spacing: 0.1em; 
  text-align: center; 
  margin-bottom: 0.5em;
}
.KPdiv{
  display: grid;
  flex: 1;
  margin: 4%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2vw;
  column-gap: 1vh;
}
.KPButton{
  text-decoration: none;
  color: black;
  border-radius: 10%;
  border: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  cursor: pointer;
}
.KPButton:disabled {
  pointer-events: none;
}
.KPButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-8px);
  background-color: #DA674A;
  color: white;
  border: none;
}
.KPButton:active {
  box-shadow: none;
  transform: translateY(0);
  color: black;
}
.i2{
  height: 12.5vh;
  width: auto;
  margin: 1.8vh;
}
.KPp{
  font-family: 'outfit', sans-serif; 
  font-size: 5vw;
  margin: 0;
}

@media (min-aspect-ratio: 1/1) {
  .KPTfg {
    flex-direction: row;
    height: 97vh;
  }
  .KPTCfg {
    flex-direction: row;
    height: 97vh;
  }
  .KPh{
    flex: 1;
  }
  .KPh1{
    font-family: 'outfit', sans-serif; 
    font-size: 40pt;
    font-weight: 500; 
    letter-spacing: 0em; 
    text-align: left; 
    margin: 40px;
  }
  .KPh2{
    font-family: 'outfit', sans-serif; 
    font-size: 20pt;
    font-weight: bold; 
    color: #DA674A;
    letter-spacing: 0.1em; 
    text-align: left; 
    margin: 24px 40px;
  }
  .KPdiv{
    display: grid;
    flex: 2;
    margin: 4%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .i2{
    height: 90px;
    width: auto;
    margin: 1.8vh;
  }
  .KPp{ 
    font-family: 'outfit', sans-serif; 
    font-size: 16pt;
    margin: 0;
  }
}