.KPTabt{
  flex-direction: column;
  height: 100vh;
}
.KPTCabt{
  flex-direction: column;
  height: 100vh;
}
.Butt{
  display: flex;
  justify-content: center;
}
.KPTabtp{
  margin: 0;
  padding: 2em;
}
.KPabth1{
  font-family: 'outfit', sans-serif; 
  font-size: 7.5vw;
  font-weight: 500; 
  letter-spacing: 0em; 
  text-align: center; 
  margin: 6%;
  margin-bottom: 0;
}
.KPabth2{
  font-family: 'outfit', sans-serif; 
  font-size: 6vw;
  font-weight: bold; 
  color: #DA674A;
  letter-spacing: 0.1em; 
  text-align: center; 
  margin: 24px 40px;
}
.KPabtButton{
  padding: 0em 4em;
  margin-top: 1em;
  border-radius: 2em;
  border: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  cursor: pointer;
}
.KPabtButton:disabled {
  pointer-events: none;
}
.KPabtButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-4px);
  background-color: #DA674A;
  color: white;
  border: none;
}
.KPabtButton:active {
  box-shadow: none;
  transform: translateY(0);
}
.KPabtBp{
  font-family: 'outfit', sans-serif;
  font-size: 5vw;
}
.KPabtp{
  font-family: 'outfit', sans-serif; 
  font-size: 3vw;
  margin: 3em;
  max-width: 100vw;
  word-wrap: break-word;
  text-align: center;
}
@media (min-aspect-ratio: 1/1) {
  .KPTabt{
    flex-direction: row;
    width: 100vw;
  }
  .KPTCabt{
    flex-direction: row;
    height: 100vh;
  }
  .KPabth{
    flex: 1fr;
  }
  .KPabth1{
    font-size: 32pt;
    margin-left: 40px;
    text-align: left;
  }
  .KPabth2{
    font-size: 24pt;
    margin-left: 40px;
    text-align: left;
  }
  .KPabtp{
    flex: 3fr;
    word-wrap: break-word;
  }
  .KPabtp{
    font-family: 'outfit', sans-serif; 
    font-size: 16pt;
    margin: 0;
    padding: 0.8em 3em 0 3em;
    max-width: 50vw;
    word-wrap: break-word;
    text-align: justify;
  }
  .Butt{
    display: block;
    margin: 0px 40px;
  }
  .KPabtButton{
    padding: 0em 2em;
    margin-top: 0.5em;
    border-radius: 1em;
  }
  .KPabtBp{
    font-size: 18pt;
  }
}

